
    /* Styles CSS pour la structure de la page */
    body {
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    /* Styles CSS pour la header */
    header {
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;
    }

    .header ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .header li {
      margin-bottom: 10px;
      text-align: center;
    }


    .header li p {
      font-size: 18px;
    }
    
    .containe {
      display: flex;
      flex-grow: 1;
      margin-top: -20px; /* Ajuster la marge négative */
    }

    /* Styles CSS pour la sidebar */
    .sidebar {
      width: 250px;
      background-color: #f1f1f1;
      padding: 20px;
      height: 100vh; /* Ajuster la hauteur à 100% */
    }

    .sidebar ul {
      list-style-type: none;
      padding: 0;
      margin-left: 40px;
    }

    .sidebar li {
      margin-bottom: 10px; 
    }

    .sidebar a {
      text-decoration: none;
      color: #000;
    }

    .sidebar a:hover {
      color: #ff0000;
    }

    /* Styles CSS pour la content */
    .content {
      flex-grow: 1;
      /* padding: 20px; */
    }

    /* message_success_error */
.msg {
  margin: 10px auto; 
  padding: 10px; 
  border-radius: 5px; 
  color: #2a842b; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  width: 50%;
  text-align: center;
  font-weight: 500;
  font-size: large;
}

.err {
  margin: 10px auto; 
  padding: 10px; 
  border-radius: 5px; 
  color: white; 
  background:rgb(194, 61, 61); /* rgb(244, 6, 6) ;  */
  border: 1px solid #800000;
  width: 50%;
  text-align: center;
  font-weight: 500;
  font-size: large;
}
